<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">Deploy your websites in less than 60 seconds</p>
      <a href="" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <img class="hero__image" src="/IMAGES/banner.png" alt="" />
  </div>
</section>
<script src="/js/main.js"></script>

<!-- HERO UPDATED BANNER FILE SIZES -->

<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">Deploy your websites in less than 60 seconds</p>
      <a href="" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <picture>
      <source
        type="images/webp"
        srcset="images/banner.webp, images/banner2x.webp, images/banner3x.webp"
      />

      <source
        type="images/png"
        srcset="images/banner.png, images/banner2x.png, images/banner3x.png"
      />

      <img class="hero__image" src="/images/banner.png" alt="" />
    </picture>
  </div>
</section>
