<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Deploy your websites" />
  <meta property="og:title" content="Moshify..." />
  <meta property="og:description" content="Moshify..." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://" />
  <meta property="og:url" content="https://alwayshungry.shop" />
  <title>Mosihfy - Go Online for just $9</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@400;700&family=Roboto:wght@700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/CSS/normalize.css" />
  <link rel="stylesheet" href="/CSS/styles.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
